.carousel {
    position: relative;
    height: 100vh;
    &__screen {
        height: 100%;
        overflow: hidden;
        position: relative;
        &__slides {
            position: absolute;
            display: flex;
            height: 100%;
            &__slide {
                height: 100%;
            }
        }
    }
    &__buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $dark-bckg-alpha;
        height: 3.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__button {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $clear-clr;
            margin: 0 .4rem;
            cursor: pointer;
            &--active {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: $weeta-clr;
                margin: 0 .4rem;
            }
        }
    }
}
